<main class="album-edit">
  <nav>
    <img class="logo-nav" src="/images/music_logo_2.png" alt="logo Moodzik" />
    <div class="nav-content">
      <a href="/albums" class="homepage">Albums</a>
      <a href="/album-new" class="create-album">Create an album</a>
    </div>
    <a href="/profile"><img
        class="i-profil"
        src="/images/femme.png"
        alt="icône profile"
      /></a>
  </nav>

  <div class="main-album-edit">
    <form method="POST">

      <section class="overall-container">
        <div class="album-elements">
          <div class="title-container">
            <label for="title">Titre d'album :</label>
            <input
              type="text"
              name="title"
              id="title"
              value="{{album.title}}"
            />
          </div>

          <div class="search-tracks-container">
            <div class="search-tracks-wrapper">
              <input
                type="text"
                name="track"
                id="track-search"
                {{! data-trackid="" }}
              />
              <div id="search-results"></div>
            </div>
            <img src="/images/loupe.png" alt="loupe" />
          </div>

          <div class="cover-container">
            <input
              type="file"
              name="cover"
              id="cover"
              accept="image/png, image/jpeg image/jpg"
              onchange="previewImage(event, 'cover-preview')"
              value="{{album.album_cover}}"
            />
            <img
              id="cover-preview"
              src="{{album.album_cover}}"
              alt="Album cover preview"
            />
          </div>

        </div>

        <div class="tracks-list">
          {{#each tracks}}
            <p class="track">{{name}}
              by
              {{artists.0.name}}
              <span
                class="rmv-track"
                style="background-color: transparent; border: none; color: white; cursor: pointer; font-size: 30px"
              >x</span>
            </p>
            <input id="track" type="hidden" name="tracks" value="{{id}}" />
          {{/each}}

        </div>
      </section>

      <div class="album-btn-container">
        <button class="val-btn">
          Validate
          <span></span><span></span><span></span><span></span>
        </button>
        <button class="can-btn">
          Cancel
          <span></span><span></span><span></span><span></span>
        </button>
      </div>

    </form>
    <div class="add-btn">
      <button id="add">
        Add
        <span></span><span></span><span></span><span></span>
      </button>
    </div>
  </div>
</main>

<script src="/js/album-edit.js"></script>