<div>
  <nav>
    <img class="logo-nav" src="images/music_logo_2.png" alt="logo Moodzik" />
    <div class="nav-content">
      <a href="/homepage" class="homepage">Homepage</a>
      <a href="/album-new" class="create-album">Create an album</a>
    </div>
    <a href="/profile"><img
        class="i-profil"
        src="/images/femme.png"
        alt="icône profile"
      /></a>
  </nav>
  <main> 
    <img src="{{playlist.images.0.url}}" alt="Playlist cover image">
    <div id="songsContainer">
      {{#each playlist.tracks.items}}
        <div class="song" data-preview-url="{{this.track.preview_url}}">
          <p><span class="song-number">{{@index}}</span> - <span class="song-name">{{this.track.name}}</span> - <span class="artist-name">By {{this.track.artists.0.name}}</span> - <span class="album-name">From Album {{this.track.album.name}}</span> - <span class="song-duration">{{this.track.duration_ms}}</span></p>
        </div>
      {{/each}}
    </div>

    <div id="playerActions">
      <audio id="player" controls>
        Your browser does not support the audio element.
      </audio>

      <img id="prev" src="/images/prev.png">
      <img id="pause" src="/images/pause.png">
      <img id="play" src="/images/play.png" style="display:none;">
      <img id="next" src="/images/next.png">
    </div>
  </main>
</div>

<script src="/js/player.js"></script>
